<div class="row">
  <div class="col-md-9">
    <div class="center d-flex">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ total_value }} EGP</h5>
          <p class="card-text">Total Value</p>
          <i class="fa fa-caret-down orange">2%</i>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ total_sales }} m³</h5>
          <p class="card-text">Total Sales</p>
          <i class="fa fa-caret-up green">2%</i>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ avg_sales }} m³</h5>
          <p class="card-text">AVG Sales</p>
          <i class="fa fa-caret-down orange">2%</i>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ total_transaction_count }}</h5>
          <p class="card-text">Total transactions Count</p>
          <i class="fa fa-caret-up green">2%</i>
        </div>
      </div>
    </div>
    <div class="view">
      <div class="btn-groups">
        <input
          type="radio"
          class="btn-check"
          name="view-style"
          id="style2"
          (click)="view = 'graph'"
          checked
        />
        <label class="btn" for="style2">
          <i class="fas fa-signal"></i>
          GRAPH</label
        >
        <input
          type="radio"
          class="btn-check"
          name="view-style"
          id="style1"
          (click)="view = 'list'"
        />
        <label class="btn" for="style1">
          <i class="fas fa-list-ul"></i>
          LIST
        </label>
      </div>
    </div>
    <div class="card-container">
      @for (st of stations; track $index) {
      <div class="card list" *ngIf="view == 'list'">
        <div class="card-header">
          <i
            class="fas fa-circle small"
            [ngClass]="st.active ? 'orange' : 'gray'"
          ></i>
          <i class="fas fa-gas-pump" [ngClass]="st.active ? 'orange' : 'gray'">
          </i>
          {{ st.name }}
          <button class="btn float-end">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="card-body row">
          <p class="card-text col-md-4">Total Sales: {{ st.total_sales }}</p>
          <p class="card-text col-md-4">
            compression state: {{ st.compression_state }}
          </p>
          <p class="card-text col-md-4">
            max transaction hour: {{ st.max_transaction_hour }}
          </p>
        </div>
        <div class="card-body row">
          <p class="card-text col-md-4">total value: {{ st.total_value }}</p>
          <p class="card-text col-md-4">
            total transaction count: {{ st.total_transaction_count }}
          </p>
          <p class="card-text col-md-4">
            max transaction datetime: {{ st.max_transaction_datetime }}
          </p>
        </div>
      </div>
      }
      <div class="card graph" *ngIf="view == 'graph'">
        <img src="../../assets/2024-11-11 14_Brave.png" alt="" />
      </div>
    </div>
  </div>
  <div class="right col-md-3">
    <h5 class="card-title">Hourly Sales</h5>
    <img src="../../assets/right_img.png" alt="" />
    <h5 class="card-title">Sales By Station</h5>
    @for (st of highst_sales_station; track $index) {
    <div class="card row">
      <div class="col-md-12">
        <i class="fas fa-gas-pump"></i> {{ st.name }}
        <span class="float-end"> {{ st.max_transaction_hour }}m³</span>
        <input
          class="col-md-12"
          disabled
          type="range"
          min="0"
          max="100"
          value="{{ st.max_transaction_hour }}"
        />
      </div>
    </div>
    }
  </div>
</div>
